<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">view Personne</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-3">
            </div> -->
            <div class="personnecard">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="../../assets/img/user1-128x128.jpg"
                                alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">{{personne.nom}} {{personne.prenom}}</h3>

                        <p class="text-muted text-center">{{personne.type}}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Identifiant</b> <a class="float-right">{{personne.idPers}}</a>
                            </li>
                          
                            <li class="list-group-item">
                                <b>N° telephone</b> <a class="float-right">{{personne.tel}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Adresse</b> <a class="float-right">{{personne.adresse}}</a>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-info btn-sm" (click)="updatepersonne(personne.idPers)">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </button> <a class="float-right"> <button class="btn btn-danger btn-sm"
                                        (click)="deletepersonne(personne.idPers)">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </button></a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

        </div>
    </div>
</section>