<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add personnel</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->      
          <div class="card card-primary">
            <div class="card-header" style="background-color: #6c757d;">
              <h3 class="card-title">please enter the informations</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form (ngSubmit)="onSubmit(personneModelForm)"  #personneModelForm="ngForm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">first name</label>
                      <input type="text" class="form-control" [(ngModel)]= "personne.nom" name="nom"
                        placeholder="Enter Nom" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">last name</label>
                      <input type="text" class="form-control" [(ngModel)]= "personne.prenom" name="prenom"
                        placeholder="Enter p" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">phone number</label>
                        <input type="text" class="form-control" id="inputError" [(ngModel)]= "personne.tel"
                          name="reference" placeholder="Reference" required>
                      </div>
                  </div>
                  <div class="col-md-6">

                    <div class="form-group" *ngIf="id == -1">
                        <label for="nblit">Profile</label>
                        <select class="custom-select" [(ngModel)]="type" name="profile">
                            <option [value]="item" *ngFor="let item of options">{{item}}</option>

                        </select>

                    </div>

                    <div class="form-group">
                      <label for="inputDescription">Adresse</label>
                      <textarea id="inputDescription" [(ngModel)]= "personne.adresse" name="addresse" class="form-control"
                        rows="1"></textarea>
                    </div>
                    <div class="form-group" *ngIf="type=='Agent de Balance'" >
                      <label for="exampleInputmatrecule">Matrecule</label>
                      <input type="text" class="form-control" id="inputError" [(ngModel)]= "agentBalance.matrecule"
                        name="matrecule" placeholder="Matrecule"  >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary" 
                  style="background-color: #903479;">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
        <!--/.col (left) -->

        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->